<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
<meta name="description" content="Api Whatsapp">
<meta name="author" content="Thomas Shelby">
<link rel="icon" href="https://cdn.discordapp.com/attachments/1101332090609479731/1154943221068206130/baf8ac55-nova-imagem-do-whatsapp-b-removebg-preview.png" type="image/x-icon"/>
<title>Api Whatsapp</title>
<link  id="style" href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
<link href="assets/plugins/web-fonts/icons.css" rel="stylesheet"/>
<link href="assets/plugins/web-fonts/font-awesome/font-awesome.min.css" rel="stylesheet">
<link href="assets/plugins/web-fonts/plugin.css" rel="stylesheet"/>
<link href="assets/css/style.css" rel="stylesheet">
<link href="assets/plugins/notify/css/notifIt.css" rel="stylesheet"/>
</head>

	<body class="ltr main-body leftmenu error-1">

		<!-- Loader -->
		<div id="global-loader">
			<img src="assets/img/loader.svg" class="loader-img" alt="Loader">
		</div>
		<!-- End Loader -->

		<!-- Page -->
		<div class="page main-signin-wrapper bg-primary construction">
			<div class="container ">
				<div class="construction1 text-center details text-white">
					<div class="">
						<div class="col-lg-12">
							<h1 class="tx-140 mb-0">404</h1>
						</div>
						<div class="col-lg-12">
                        <h1>Ops. A página que você está procurando não existe...</h1>
                        <h6 class="tx-15 mt-3 mb-4 text-white-50">Você pode ter digitado o endereço incorretamente ou a página pode ter sido movida. Tente fazer uma busca abaixo.</h6>
                        <a class="btn ripple btn-success text-center mb-2" href="index.ejs">Voltar para a Página Inicial</a>
                    </div>

					</div>
				</div>
			</div>

		</div>
		<!-- End Page -->

		<!-- Jquery js-->
		<script src="assets/plugins/jquery/jquery.min.js"></script>

		<!-- Bootstrap js-->
		<script src="assets/plugins/bootstrap/js/popper.min.js"></script>
		<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>

		<!-- Select2 js-->
		<script src="assets/plugins/select2/js/select2.min.js"></script>
		<script src="assets/js/select2.js"></script>

		<!-- Perfect-scrollbar js -->
		<script src="assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>

		<!-- Color Theme js -->
		<script src="assets/js/themeColors.js"></script>

		<!-- Custom js -->
		<script src="assets/js/custom.js"></script>

	</body>
</html>