 <!-- End Row -->

</div>
</div>
</div>
<!-- End Main Content-->

<!-- Main Footer-->
<div class="main-footer text-center">
    <div class="container">
        <div class="row row-sm">
            <div class="col-md-12">
                <span>Copyright © 2023
                    <a href="javascript:void(0)">WebHostPro</a> Todos Direitos Reservados.</span>

            </div>
        </div>
    </div>
</div>

</div>
<a href="#top" id="back-to-top"><i class="fe fe-arrow-up"></i></a>
<script src="assets/plugins/jquery/jquery.min.js"></script>
<script src="assets/plugins/bootstrap/js/popper.min.js"></script>
<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="assets/plugins/sidemenu/sidemenu.js" id="leftmenu"></script>
<script src="assets/plugins/sidebar/sidebar.js"></script>
<script src="assets/plugins/select2/js/select2.min.js"></script>
<script src="assets/js/select2.js"></script>
<script src="assets/js/sticky.js"></script>

<script src="assets/js/custom.js"></script>

</body>

</html>